:root {
    --primary: #b6895b;
    --bg: #010101;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
.navbar {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgb(1, 1, 1, 0.8);
    border-bottom: 1px solid #7a5b3c;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
.navbar .navbar-nav a,
.navbar .navbar-title a {
    color: white;
    display: inline-block;
    font-size: 1.2rem;
    margin: 0 1rem;
}
.navbar .navbar-nav a:hover {
    color: var(--primary);
}
.navbar .navbar-nav a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}
.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}
.navbar .navbar-extra a {
    color: white;
    margin: 0 0.5rem;
}
.navbar .navbar-extra a:hover {
    color: var(--primary);
}
#hamburger-menu {
    display: inline-block;
}
.navbar .navbar-nav {
    position: absolute;
    top: 100%;
    left: -100%;
    background-color: white;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
}
.navbar .navbar-nav.active {
    left: 0;
}
.navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
}
.navbar .navbar-nav a::after {
    transform-origin: 0 0;
}
.navbar .navbar-nav a:hover:after {
    transform: scaleX(0.2);
}
@media (max-width: 758px) {
    html {
        font-size: 62%;
    }
    #hamburger-menu {
        display: inline-block;
    }
    .navbar .navbar-nav,
    .navbar .navbar-title {
        position: absolute;
        top: 100%;
        left: -100%;
        background-color: white;
        width: 30rem;
        height: 100vh;
        transition: 0.3s;
    }
    .navbar .navbar-nav.active {
        left: 0;
    }
    .navbar .navbar-nav a {
        color: var(--bg);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }
    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
    }
    .navbar .navbar-nav a:hover:after {
        transform: scaleX(0.2);
    }
}
